<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit Trip</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link type="text/css" media="all" href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">

    <script type='text/javascript' src=''></script>
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js'></script>
    <script type='text/javascript'
            src='https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js'></script>
</head>
<body class="d-flex flex-column min-vh-100">
<!--navbar-->
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">ADMIN DASHBOARD- EDIT TRIP</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/start}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <button class="btn btn-outline-danger" type="submit">Logout</button>
            </form>
        </div>
    </div>
</nav>

<!--FORM-->
<div class="container my-3">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h2>Edit Trip</h2>

            <form th:action="@{/trips/edit/{id} (id=${tripToEdit.id})}" th:object="${tripToEdit}" method="post">
                <input type="hidden" th:field="${id}" />
                <div class="form-row">
                </div>
                <div class="col-md-6 form-group">
                </div>
                <div class="col-md-6 form-group">
                    <label>Start Date</label>
                    <input type="date"  th:field="*{startDate}"class="form-control" placeholder="yyyy-MM-dd">
                </div>
                <div class="col-md-6 form-group">
                    <label>End Date</label>
                    <input type="date" th:field="*{endDate}" class="form-control" placeholder="yyyy-MM-dd">
                </div>

                <div class="col-md-6 form-group">
                    <label>Number of places</label>
                    <input type="number" th:field="*{numberOfPlaces}" class="form-control">
                </div>

                <div class="col-md-6 form-group">
                    <label>Departure Airport</label>
                    <input type="text" th:field="*{airportFrom.name}"class="form-control">
                </div>

                <div class="col-md-6 form-group">
                    <label>Destination Airport</label>
                    <input type="text" th:field="*{airportTo.name}"class="form-control">
                </div>

                <div class="col-md-6 form-group">
                    <label>Hotel</label>
                    <input type="text" th:field="*{hotel.name}" class="form-control">
                </div>

                <div class="col-md-6 form-group">
                    <label>Food Option</label>
                    <input type="text"  th:field="*{foodOption}" class="form-control">
                </div>
            </form>
            </select>
        </div>
                <a class="btn btn-primary btn-block mt-3" th:href="@{/trips/update/{id}(id=${tripToEdit.id})}">Save</a>
                </td>
<!--        <form th:action="@{/trips/update/{id} (id=${tripToEdit.id})}" th:object="${tripToEdit}" method="put">-->
<!--            <button type="submit" class="btn btn-primary btn-block mt-3">Save</button>-->
        </form>
    </div>
</div>
</div>










<!--&lt;!&ndash;FORM&ndash;&gt;-->
<!--<div class="container my-3">-->
<!--    <div class="row">-->
<!--        <div class="col-md-8 mx-auto">-->
<!--            <h2>Edit Trip</h2>-->

<!--            <form role= "form" th:action="@{/trips/edit/{id} (id=${tripToEdit.id})}" th:object="${tripToEdit}" method="post">-->
<!--            <input type="hidden" th:field="*{id}">-->
<!--            <div class="form-row">-->
<!--            </div>-->
<!--            <div class="col-md-6 form-group">-->
<!--            </div>-->
<!--            <div class="col-md-6 form-group">-->
<!--                <label>Start Date</label>-->
<!--                <input type="date" th:field="*{startDate}" th:value="${tripToEdit.startDate}"class="form-control" placeholder="yyyy-MM-dd">-->
<!--            </div>-->
<!--            <div class="col-md-6 form-group">-->
<!--                <label>End Date</label>-->
<!--                <input type="date" th:field="*{endDate}" th:value="${tripToEdit.endDate}" class="form-control" placeholder="yyyy-MM-dd">-->
<!--            </div>-->

<!--            <div class="col-md-6 form-group">-->
<!--                <label>Number of places</label>-->
<!--                <input type="number" th:field="*{numberOfPlaces}"  th:value="${tripToEdit.getNumberOfPlaces()}"class="form-control">-->
<!--            </div>-->

<!--                <div class="col-md-6 form-group">-->
<!--                    <label>Select Departure Airport</label>-->
<!--                    <select name="airportFrom" id="airportFrom" class="form-control">-->
<!--                        <option value="" th:selected="selected" th:disabled="disabled" >-->
<!--                        <option th:each="airport : ${airports}"-->
<!--                                th:value="${airport.id}" th:text="${airport.name}"/>-->
<!--                    </select>-->
<!--                </div>-->

<!--            <div class="col-md-6 form-group">-->
<!--                <label>Destination Airport</label>-->
<!--                <select name="airportTo" id="airportTo" class="form-control">-->
<!--                    <option value="" th:selected="selected" th:disabled="disabled" >-->
<!--                    <option th:each="airport : ${airports}"-->
<!--                            th:value="${airport.id}" th:text="${airport.name}"/>-->
<!--                </select>-->
<!--            </div>-->

<!--                <div class="col-md-6 form-group">-->
<!--                    <label>Select Hotel</label>-->
<!--                    <select name="hotel" id="hotel" class="form-control">-->
<!--                        <option value="" th:selected="selected" th:disabled="disabled">Please select</option>-->
<!--                        <option th:each="hotelDetail : ${hotels}"-->
<!--                                th:value="${hotelDetail.id}" th:text="${hotelDetail.name}+', '+${hotelDetail.address.location.city}"/>-->
<!--                    </select>-->
<!--                </div>-->

<!--                <div class="col-md-6 form-group">-->
<!--                    <label>Select Food Option</label>-->
<!--                    <select name="foodOption" id="foodOption" class="form-control">-->
<!--                        <option value="" th:selected="selected" th:disabled="disabled">Please select</option>-->
<!--                        <option th:each="food : ${foods}"-->
<!--                                th:value="${food}" th:text="${food.getFoodOption()}"/>-->
<!--                    </select>-->
<!--                </div>-->

<!--                <div class="col-md-6 form-group">-->
<!--                    <label>Is trip promoted? </label>-->
<!--                    <select th:field="*{promoted}" class="form-control">-->
<!--                        &lt;!&ndash;                            <option value="" th:selected="selected" th:disabled="disabled">&ndash;&gt;-->
<!--                        &lt;!&ndash;                                Please select</option>&ndash;&gt;-->
<!--                        <option th:value="true" th:text="Yes"></option>-->
<!--                        <option th:value="false" th:text="No"></option>-->
<!--                    </select>-->
<!--                </div>-->

<!--                <div class="row col-md-6 form-group">-->
<!--                    <div class="col-md-6 form-group">-->
<!--                        <label>Price for adult</label>-->
<!--                        <input type="number" step="0.01" th:field="*{priceForAdult}" class="form-control" >-->
<!--                    </div>-->

<!--                    <div class="col-md-6 form-group">-->
<!--                        <label>Price for child</label>-->
<!--                        <input type="number" step="0.01" th:field="*{priceForChild}" class="form-control" >-->
<!--                    </div>-->
<!--                </div>-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;        <a class="btn btn-info" th:href="@{/trips/edit/{id}(id=${tripToEdit.id})}">Update</a>&ndash;&gt;-->
<!--&lt;!&ndash;        </td>&ndash;&gt;-->
<!--        <form th:action="@{/trips/edit/{id} (id=${tripToEdit.id})}" th:object="${tripToEdit}" method="post">-->
<!--&lt;!&ndash;        <form th:action="@{/edit/{tripId}(tripId=${tripToEdit.id})}" th:object="${tripToEdit}" method="post">&ndash;&gt;-->
<!--&lt;!&ndash;            <form th:action="@{/edit/{tripId}(tripId=${tripToEdit.id})}" th:object="${tripToEdit}" method="post">&ndash;&gt;-->
<!--            <button type="submit" class="btn btn-primary btn-block mt-3">Save</button>-->
<!--&lt;!&ndash;    </form>&ndash;&gt;-->
<!--            </form>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<div class="container">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
        </ul>
        <p class="text-center text-body-secondary">&copy; 2023 Company, Inc</p>
    </footer>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</body>
</html>