<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Delete trip</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link type="text/css" media="all" href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">

    <script type='text/javascript' src=''></script>
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js'></script>
    <script type='text/javascript'
            src='https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js'></script>
</head>
<body class="d-flex flex-column min-vh-100">
<!--navbar-->
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand">Go For a Journey, Go!</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link divider-vertical" th:href="@{/start}" sec:authorize="hasAuthority('ADMIN') or hasAuthority('USER')">Home </a>
                </li>

                <li class="nav-item">
                    <a  class="nav-link divider-vertical" th:href="@{/trips/add}" sec:authorize="hasAuthority('ADMIN')">Add trip</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link divider-vertical"  th:href="@{/trips}" sec:authorize="hasAuthority('ADMIN')">Show, edit, delete trips</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link divider-vertical"  th:href="@{/logout}" sec:authorize="hasAuthority('USER')">Show all trips</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link divider-vertical" th:href="@{/logout}" sec:authorize="hasAuthority('ADMIN') or hasAuthority('USER')">Logout</a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<!--FORM-->
<div class="container my-3">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h2>Trip was deleted</h2>


<div class="container">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
        </ul>
        <p class="text-center text-body-secondary">&copy; 2023 Go For Java, Girl!, Marta Kozdrój, Agnieszka Skrzypulec-Szota, Anna Margery </p>
    </footer>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</body>
</html>