<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Go For a Journey,Go!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link type="text/css" media="all" href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">

    <script type='text/javascript' src=''></script>
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js'></script>
    <script type='text/javascript'
            src='https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js'></script>
</head>
<body class="d-flex flex-column min-vh-100">
<!--navbar-->
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand">Go For a Journey, Go!</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link divider-vertical" th:href="@{/start}"
                       sec:authorize="hasAuthority('ADMIN') or hasAuthority('USER')">Home </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link divider-vertical" th:href="@{/trips/add}" sec:authorize="hasAuthority('ADMIN')">Add
                        trip</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link divider-vertical" th:href="@{/trips}" sec:authorize="hasAuthority('ADMIN')">Show,
                        edit, delete trips</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link divider-vertical" th:href="@{/trips}" sec:authorize="hasAuthority('USER')">Show
                        all trips</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link divider-vertical" th:href="@{/logout}"
                       sec:authorize="hasAuthority('ADMIN') or hasAuthority('USER')">Logout</a>
                </li>

            </ul>
        </div>
    </div>
</nav>


<!--Booking form-->
<div id="booking" class="section">
    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-push-5">
                    <div class="booking-cta">
                        <h1>Book your trip</h1>
                        <p>Unlock incredible journeys with just a few clicks!
                            Experience the world like never before!
                            From breathtaking landscapes to vibrant cultures, our website
                            offers a gateway to endless exploration. Explore, relax, and create unforgettable memories.
                            Start planning today!
                            Start your journey with us and let every mile become a story worth sharing!

                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-md-pull-7">
                    <div class="booking-form">
                        <form th:action="@{/}" th:object="${searchForm}" method="post">
                            <div class="form-group">
                                <label>Select Continent</label>
                                <select name="continent" required id="continent" class="form-control">
                                    <!--                    <select id="continent" name="continent" th:field="*{continent}">-->
                                    <option value="" th:selected="selected" th:disabled="disabled">Please select
                                    </option>
                                    <option th:each="continent : ${continents}"
                                            th:value="${continent}"
                                            th:text="${continent}"></option>
                                </select>
                            </div>


                            <div class="form-group">
                                <label>Country:</label>
                                <select name="country" required id="country" class="form-control">
                                    <option value="" th:selected="selected" th:disabled="disabled">Please select
                                    </option>
                                    <!-- Loop through available food options -->
                                    <option th:each="country : ${countries}" th:value="${country}"
                                            th:text="${country}"></option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Hotel standard:</label>
                                <select name="standard" required id="standard" class="form-control">
                                    <option value="" th:selected="selected" th:disabled="disabled">Please select
                                    </option>
                                    <!-- Loop through available food options -->
                                    <option th:each="standard : ${standards}" th:value="${standard}"
                                            th:text="${standard}"></option>
                                </select>
                            </div>


                            <div class="form-group">
                                <label>Food Option:</label>
                                <select name="foodOption" required id="foodOption" class="form-control">
                                    <option value="">Please select</option>
                                    <!-- Loop through available food options -->
                                    <option th:each="option : ${foodOptions}" th:value="${option}"
                                            th:text="${option.getFoodOption()}"></option>
                                </select>
                            </div>


                            <button type="submit" class="btn btn-primary btn-block mt-3">Search</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--GRID with CARDS-->
<!--ROW 1-->
<div class="container-fluid">
    <div class="row row-cols-md-4 g-4 img-hov">
        <div class="col">
            <div class="card">
                <a th:href="@{/trips/continent/Europe}"><img th:src="@{/img/europe-sq.jpg}"
                                                             class="card-img-top rounded-4" alt="Europe"></a>
                <div class="card-body">
                </div>

            </div>
        </div>

        <div class="col">
            <div class="card">
                <a th:href="@{/trips/continent/Asia}"><img th:src="@{/img/asia-sq.jpg}"
                                                           class="card-img-top rounded-4" alt="Asia"></a>
                <div class="card-body">

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <a th:href="@{/trips/continent/Africa}"> <img th:src="@{/img/africa-sq.jpg}"
                                                              class="card-img-top rounded-4" alt="Africa"></a>
                <div class="card-body">
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <a th:href="@{/trips/continent/NorthAmerica}"><img th:src="@{/img/north-america-sq.jpg}"
                                                                   class="card-img-top rounded-4"
                                                                   alt="North-America"></a>
                <div class="card-body">

                </div>
            </div>
        </div>
    </div>
</div>


<!--ROW 2-->
<div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-4 g-4 img-hov">
        <div class="col">
            <div class="card">
                <a th:href="@{/trips/lastMinute}"><img th:src="@{/img/last-minute.jpg}"
                                                       class="card-img-top rounded-4" alt="Last-Minute"></a>
                <div class="card-body">
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <a th:href="@{/trips/promoted}"><img th:src="@{/img/best-deals.jpg}" class="card-img-top rounded-4"
                                                     alt="Best-Deals"></a>
                <div class="card-body">

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <a th:href="@{/trips/lastOrders}"> <img th:src="@{/img/recently-ordered.jpg}"
                                                        class="card-img-top rounded-4" alt="Recently-Ordered"></a>
                <div class="card-body">

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <a th:href="@{/trips}"><img th:src="@{/img/all-trips.jpg}" class="card-img-top rounded-4"
                                            alt="All-Trips"></a>
                <div class="card-body">
                </div>
            </div>
        </div>
    </div>
</div>

<!--ROW 3-->
<div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-4 g-4 img-hov">
        <div class="col">
            <div class="card">
                <a th:href="@{trips/country/Czech Republic}"><img th:src="@{/img/czech-republic.jpg}"
                                                                  class="card-img-top rounded-4"
                                                                  alt="Czech-Republic"></a>
                <div class="card-body">

                </div>

            </div>
        </div>
        <div class="col">
            <div class="card">
                <a th:href="@{/trips/country/United Kingdom}"><img th:src="@{/img/united-kingdom.jpg}"
                                                                   class="card-img-top rounded-4"
                                                                   alt="United-Kingdom"></a>
                <div class="card-body">
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <a th:href="@{/trips/country/Tenerife}"> <img th:src="@{/img/tenerife.jpg}"
                                                              class="card-img-top rounded-4" alt="Tenerife"></a>
                <div class="card-body">

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <a th:href="@{/trips/country/China}"><img th:src="@{/img/china.jpg}" class="card-img-top rounded-4"
                                                          alt="China"></a>
                <div class="card-body">
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
        </ul>
        <p class="text-center text-body-secondary">&copy; 2023 Go For Java, Girl!, Marta Kozdrój, Agnieszka
            Skrzypulec-Szota, Anna Margery </p>
    </footer>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script type='text/javascript'></script>
</body>
</html>